<!DOCTYPE html>
<html>
<head>
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="./styles/index6.css" media="screen" />
</head>
<body>
    <script src="vue.js" type="text/javascript"></script>
    <div id="app">
       <p v-if="show">You can see me!</p>
       <p v-else>Now you see me!</p>
       <template v-if="show">
          <h1>I'm a heading</h1>
         <p>I'm inside a template</p>
       </template>
       <p v-show="show">Do you also see me?</p>
       <button @click="show = !show">Switch</button>
     </div> 
    <script>
      new Vue({
        el: "#app",
        data: {
          show: true
        }
      })
    </script>
</body>
</html>
